.logo {
	display: block;
	height: 92px;
	width: 272px;
	margin: auto;
	margin-top: 10%;
}

.search-field {
	background: url("./voice_search_icon.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 24px 24px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	display: block;
	font-size: 24px;
	height: 32px;
	margin: auto;
	margin-top: 2%;
	outline-width: 0;
	text-indent: 10px;
	width: 666px;
	/*Search Google or type URL*/
}

.search-field:focus {
	border-color: blue;
}
