.header,.footer {
	font-family: "arial";
}

.footer {
	background-color: #f2f2f2;
	border: solid;
	border-color: #f2f2f2;
	bottom: 0;
	line-height: 2em;
	overflow: hidden;
	position:absolute;
	width: calc(100% - 15px);
}

.header {
	text-align: right;
}


nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
	display: inline;
	padding-right: 15px;
}


nav ul a {
	color: black;
	text-decoration: none;
}

nav ul a:hover {
	text-decoration: underline;
}


#main-body-of-page {
	font-family: "arial";
}

.logo {
	display: block;
	/*height: 92px;
	width: 272px;*/
	margin: auto;
	margin-top: 89px;
}

.search-field {
	background: url("./voice_search_icon.png");
	background-repeat: no-repeat;
	/*background-position: right;*/
	background-position: right 10px top 10px;
	background-size: 24px 24px;
	border-style: outset;
	box-shadow: none;
	/*border-style: solid;
	border-color: gray;
	border-width: 1px;
	font-size: 24px;*/
	display: block;
	height: 44px;
	margin: auto;
	margin-top: 13px;
	/*outline-width: 0;*/
	text-indent: 10px;
	width: 584px;
	min-width: 484px;
	/*width: 666px;*/
	/*Search Google or type URL*/
}

/*.search-field:hover, .search-field:focus, .search-field:active {
	border-color: blue;
}*/

.search-button {
	border: 0;
	box-shadow: none;
	background-color: #f2f2f2;
	height: 36px;
	margin-top: 20px;
	width: 143px;

}

.search-button-container {
	text-align: center;
}